<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>302797249174-4kbmspbq0s99qa0fmsse70u9hn3h22qt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCY4nmRRo3ifc39Cvo29N7PzkSQUx7ZRj0</string>
	<key>GCM_SENDER_ID</key>
	<string>302797249174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.managecogeus</string>
	<key>PROJECT_ID</key>
	<string>cogeus-d3abb</string>
	<key>STORAGE_BUCKET</key>
	<string>cogeus-d3abb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302797249174:ios:798a9a37ae2971adf1c0b7</string>
</dict>
</plist>